body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


div {
    background-color:  rgb(7, 1, 48);
    border-radius: 5%;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.711);
}

h1 {
    color:white
}

p{
    color: white;
}





